<div class="container">
  <h1 class="text-center my-4">Stupid Coaching</h1>
  <div class="card">
    <div class="card-body">
      <p class="card-text"><strong><%= @question %></strong></p>
      <p class="text-right"><em>-You</em></p>
      <hr>
      <p class="card-text"><strong><%= @answer %></strong></p>
      <p class="text-right"><em>-Your coach</em></p>
    </div>
  </div>
  <div class="text-center my-4">
    <h3>Ask a new question: <%= link_to "Ask", ask_path, class: "btn btn-primary" %></h3>
  </div>
</div>
